body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #0B020E;
}

@font-face {
    font-family: 'UnifrakturCook';
    src: url('../fonts/UnifrakturCook-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-VariableFont_opsz\,wdth\,wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MedievalSharp';
    src: url('../fonts/MedievalSharp-Regular.ttf') format('truetype');
    font-style: normal;
}

main {
    min-height: 87vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 50vh;
    border-radius: 15px;
    border: 2px solid #F8F5E7;
    box-shadow: 0 4px 100px 4px #27142E;
    margin-top: 5vh;

}

.container img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.texto-sobreposto {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    color: #F8F5E7;
    font-family: MedievalSharp, serif;
    font-size: 28px;
    text-shadow: 2px 2px 4px black;
    background: rgba(0, 0, 0, 0.4);
    padding: 8px 12px;
    border-radius: 6px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.titulo {
    position: relative;
    display: inline-block;
    font-size: 24px;
    color: #F8F5E7;
    font-family: MedievalSharp;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 40px 0 20px;
}

#player {
    display: flex;
    width: 40%;
    height: 46vh;
    align-items: center;
    flex-shrink: 0;
    box-shadow: 0 4px 100px 4px #27142E;
    border-radius: 15px;
}


.caixa {
    max-width: 600px;
    margin: 20px auto;
    padding: 15px 20px;
    border: 1px solid #F8F5E7;
    border-radius: 15px;
    background: #1A0F1E;
    box-shadow: 0 4px 100px 4px #27142E;
    color: #F8F5E7;
    font-family: Merriweather, serif;
    text-align: justify;
    font-family: Merriweather;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.destaques {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 15px;
}

.destaqueTexto {
    display: flexbox;
    align-items: center;
    justify-items: center;
    flex: 1;
    max-width: 60%;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #F8F5E7;
    background: #1A0F1E;
    box-shadow: 0 4px 10px 5px #27142E;
}

.destaqueTexto p {
    font-family: Merriweather, serif;
    color: #F8F5E7;
    font-size: 15px;
    text-align: center;
}

#contato {
    display: flex;
    max-width: 350px;
    padding: 20px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 23px;
    margin-top: 8vh;
    border-radius: 20px;
    border: 2px solid  #F8F5E7;
    background:  #1A0F1E;
    box-shadow: 0 8px 8px 0  #1A0F1E;
    color: #F8F5E7;
    font-family: Merriweather, serif;
    font-size: 16px;
    text-align: center;
}

#btnImprensa{
    display: flex;
    height: 50px;
    padding: 13px 41px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid var(--Branco, #F8F5E7);
    background: #4F2C5B;
    cursor: pointer;
    font-family: Merriweather, serif;
    font-size: 15px;
    font-style: normal;
    color: #F8F5E7;
}

#btnImprensa:hover {
    background: #6E3B7E;
    transition: background-color 0.3s ease;
}