body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #0B020E;
}

@font-face {
    font-family: 'UnifrakturCook';
    src: url('../fonts/UnifrakturCook-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-VariableFont_opsz\,wdth\,wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MedievalSharp';
    src: url('../fonts/MedievalSharp-Regular.ttf') format('truetype');
    font-style: normal;
}

main {
    min-height: 87vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#resumo {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#logo {
    display: block;
    width: 700px;
    height: auto;
}

.container {
    position: relative;
    display: inline-block;
    min-width: 50%;
    width: 50%;
    height: 30vh;
    border-radius: 15px;
    border: 2px solid #F8F5E7;
    box-shadow: 0 4px 100px 4px #27142E;
    margin-top: 5vh;
}

.container#dev{
    width: 40%;
    height: auto;
}

.container#contato{
    min-width: 20%;
    width: 20%;
    height: auto;
}

h1 {
    font-family: 'medievalSharp', cursive;
    color: #F8F5E7;
    text-align: center;
    margin-top: 5vh;
    font-size: 50px;
}

h2{
    font-family: 'medievalSharp', cursive;
    color: #F8F5E7;
    text-align: center;
    margin-top: 5vh;
    font-size: 36px;
    margin: 20px;
}

h3 {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #F8F5E7;
    text-align: center;
    font-size: 18px;
    margin:5px;
}

p, li{
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #F8F5E7;
    text-align: center;
    font-size: 16px;
    margin: 20px;
}

span{
    text-decoration: underline;
}
li{
    text-align: left;
}
